<ion-header class="ion-no-border">
<div class="d-flex my-3 ion-justify-content-between ion-align-items-center">
  <div class="d-flex ion-justify-content-between">
    <ion-buttons>
      <ion-icon style="font-size: 36px;  margin-left: 12px" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <img src="assets/icon/feed1.png" height="40px" width="40px" class="rounded-circle">
    </ion-buttons>
    <div class="mx-3 text-truncate">
      <p style="margin-bottom: -6px; font-weight: 600">Sasha<ion-badge style="background: transparent; margin-bottom: -6px"><i style="color: limegreen; font-size: 24px" class="bi bi-dot"></i></ion-badge></p>

      <span class="text-muted" style="font-size: 10px;">Online</span>
    </div>

  </div>
</div>
</ion-header>

<ion-content>

</ion-content>
