.tinder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 10%;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status > div {
  transition: all 0.3s ease-in-out;
}

.tinder--status svg {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder--cards {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  overflow: hidden;
}

.tinder--card {
  display: inline-block;
  width: 85%;
  height: 85%;
  background: #FFFFFF;
  // padding-bottom: 40px;
border: none;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  perspective: 1000px; 
  
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;

}

.tin{
  height: 82%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
position: relative;
  border: 1px solid #306c12;
  div.front{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // transform: rotateY(180deg);
    // transition: all ease-in-out .3s;
  }

}
.top-tin{
  height: 100%;
  width: 100%;
  background: rgba(255, 248, 248, 0.7);
  position: absolute;
  top:0;
  left:0;
  opacity: 1;
}
.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tinder--card h3 {
  margin-top: 16px;
  font-size: 24px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--card p {
  margin-top: 24px;
  font-size: 16px;
  padding: 0 16px;
  pointer-events: none;
}

.tinder--buttons {
  position: absolute;
  flex: 0 0 100px;
  text-align: center;
  bottom: 20px;
  left: 0;
  right: 0;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  padding-top: 10px;
  margin: 0 12px;
}

.tinder--buttons button:focus {
  outline: 0;
}


.fab-box{
  position: fixed;
  bottom: 10%;
  left: 45%;
}

.fab-box.hi{
  bottom: 5%;
  left: 50%;
}
.fab{
  position: relative;

}
.fab-content{
  
  border-radius: 50%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}
.fab-content:hover{
  border: #2F724E 2px solid;

}
.fab-item{
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
  .item{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // background-color: #155332;
    background: Green;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
  
  }
 
  .item:nth-child(2){
    
    background: #e10000 !important;
    font-weight: 900;
  }
  .item:nth-child(3){
    background: #bebebe !important;
    font-weight: 900;
  }
 
}
.fab.active{
  // 




  .item{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // background-color: #155332;
    background: Green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    // opacity: 1;
  }
  .item:nth-child(1){
    transform: translate(-10px,40px);

  }
  .item:nth-child(2){
    transform: translate(40px,-10px);
   

  }
  .item:nth-child(3){
    transform: translate(-60px,-10px);

  }
  .item:nth-child(4){
    transform: translate(35px,-60px);

  }
  .item:nth-child(5){
    transform: translate(-35px,-60px);
   

  }
}
.back-card{
  // transition: all ease-in-out .10s;
  height: 100%;
  overflow-y: auto;
}
.front{
  // transition: all ease-in-out .10s;
}
.pp-detail{
  // border: #155332 1px solid;
  height: 25px;
  // line-height: 10px;
  p:nth-child(2){
    font-size: 10px;
  }
 
}
.btmmm{
  ion-buttons{
    // background: #19422d;
    color: black;
  
    border-color: #bebebe;
    border-style: solid;
    border-width: 1px;
  margin:5px ;
    border-radius: 20px;
    // font-size: 10px;
    padding: 14px 10px;
    display: flex;
    justify-content: space-between;
    // padding: 0px;
    height: 20px;
    // width: 100%;
    span{
    font-size: 12px;
    }
  }
}

.tin{

  // transform: rotateY(180deg);
  transition: all ease-in-out .3s;
}

.unhi{
  width: 40px;
  height: 40px;
}

.hi{
  width: 70px;
  height: 70px;
  margin-left: -15px;
  
  // margin-top: 30px;
}

.hjk{
  position: relative;
  padding: 10px 20px;
  width: 100%;


  .close-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 6px;
    right: 11px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    ion-icon{
      font-size: 36px;
      // color: #e10000;
    }
  }

  .close-btn:hover{
    background: red;
    color: white;
  }

}

.progr.personality{
  justify-self: center;
  width: 95%;
  height: 30px;
  border-radius: 30px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .personality{
    height: 100%;
    width: 90%;
    background-color: #bebebe;
  border-radius: 30px;

padding: 12px;

  }
  span{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 0px;
    font-weight: 700;

  }
}
.progr.attractive{
  width: 95%;
  height: 30px;
  border-radius: 30px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .attractive{
    height: 100%;
    width: 75%;
    
    background-color: #2F724E;
  border-radius: 30px;

padding: 12px;

  }
  span{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 0px;
    font-weight: 700;

  }
}

.progr.values{
  width: 95%;
  height: 30px;
  border-radius: 30px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .values{
    height: 100%;
    width: 56%;
    background-color: #9D1224;
  border-radius: 30px;

padding: 12px;

  }
  span{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 0px;
    font-weight: 700;
  }
}


.progr.activity{
  width:95%;
  height: 30px;
  border-radius: 30px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .activity{
    height: 100%;
    width: 56%;
    background-color: #FCD156;
  border-radius: 30px;

padding: 12px;

  }
  span{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 0px;
    font-weight: 700;
  }
}


