<ion-header [translucent]="false" class="ion-no-border ion-no-padding ion-no-margin">

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center mt-2">
        <ion-col size="4">
          <div class="text-left mx-3">
            <img src="assets/icon/bg.png" style="height: 40px; width: 40px; border-radius: 50%">
          </div>
        </ion-col>
        <ion-col size="8" class="border-1 border-primary">
         <div class="d-flex ion-justify-content-between ion-align-items-center">
           <h6 class="ion-text-sm-center mt-2">Discover</h6>
           <div class="d-flex ">
             <ion-buttons class="mx-2" routerLink="/notifications">
               <ion-icon style="font-size: 20px;" name="notifications-outline"></ion-icon>
             </ion-buttons>
             <ion-buttons class="mx-2">
               <ion-icon style="font-size: 20px;" name="ellipsis-vertical-outline"></ion-icon>
             </ion-buttons>
           </div>
         </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <!-- <app-tinder-ui [cards]="cards" (choiceMade)="logChoice($event)"></app-tinder-ui> -->

</ion-header>
<div class="my-5">
  <app-tinder-ui [cards]="cards" (choiceMade)="logChoice($event)"></app-tinder-ui>

</div>

<!-- <div class="card-stack">
  <app-card>
  </app-card>
</div> -->
