<ion-tabs >


  <ion-tab-bar slot="bottom" color="dark" class="ion-no-border ion-no-padding">
    <ion-tab-button tab="dashboard">
      <i style="font-size: 25px" class=" bi bi-suit-spade"></i>
    </ion-tab-button>
    <ion-tab-button tab="messages" >
      <ion-icon style="font-size: 27px;" name="chatbubble-ellipses-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="discover">
      <img src="assets/icon/discover.png" height="30px" width="24">

    </ion-tab-button>
    <ion-tab-button tab="search">
      <img src="assets/icon/global.png" height="30px" width="30px">
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <img src="assets/icon/select.png" height="25px" width="30">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
