ion-tab-button[aria-selected=true] {
  //background-color: #b1b1b1;
  //border-radius: 50%;
  color: #ffffff;
  // opacity: 1;
}
ion-tab-button{
  // opacity: 0.4;
}

.fab{
  height: 30px;
  width: 60px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 50%;
  position: relative;
// display: flex;
  .red{
    transform: rotate(-40deg);
    position: absolute;
    top: -10px;
    left: -12px;
    transform: rotate3d(90deg);
    height: 20px;
    width: 15px;
    background: red;
  }
  .green{
    transform: rotate(-20deg);

    position: absolute;
    top: -10px;
    left: 8px;
    height: 20px;
    width: 15px;
    background: green;
  }
  .grey{
    position: absolute;
    top: -10px;
    right: -8px;
    transform: rotate(30deg);
    height: 20px;
    width: 15px;
    background: grey;
  }
  .yellow{
    position: absolute;
    top: -10px;
    left: 28px;
    transform: rotate(20deg);
    height: 20px;
    width: 15px;
    background: yellow;
  }
}